$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #3d5a80;
$background-alternative-color: #e0fbfc;
$font-size: 1em;
$footer-background-color: #333;
$header-background-color: #aaa;
